<html>
  <body>
    <h1>Welcome to Physiyoga, <%= NAME %>!</h1>
    <p>We are excited to have you on board.</p>
    <p>Your email: <%= EMAIL %></p>
    <p>Click <a href="<%= LINK %>">here</a> to log in.</p>
  </body>
</html>
